* {
  border: 1px solid gold;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50,50,50);
  color: ghostwhite;
}

.header h1 {
  margin-left: 10px;
}

.header button {
  margin: 10px 8px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(50,50,50);
  color: ghostwhite;
  border-radius: 20px;
  cursor: auto;
  border: 1px solid ghostwhite;
}

.main {
  display: flex;
  justify-content: space-around;
}

.nav {
  width: 29%;
}

.button {
  margin: 10px 8px;
  padding: 15px 50px;
  /* background-color: rgb(50,50,50); */
  color: rgb(50,50,50);
  border-radius: 20px;
  cursor: auto;
  border: 1px solid rgb(50,50,50);
}

.notes {
  width: 69%;
}

.title {
  display: flex;
  justify-content: space-around;
}

.title button {
  margin: 10px 8px;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: rgb(50,50,50); */
  color: rgb(50,50,50);
  border-radius: 20px;
  border: 1px solid rgb(50,50,50);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50,50,50);
  color: ghostwhite;
}
